<div class="layout" [class.collapsed]="collapsed()">
  <aside class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/app/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span class="label">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/app/preferences">
        <mat-icon>settings</mat-icon>
        <span class="label">Preferences</span>
      </a>
      <a mat-list-item routerLink="/app/organizations">
        <mat-icon>business</mat-icon>
        <span class="label">Organizations</span>
      </a>
      <a mat-list-item routerLink="/app/events">
        <mat-icon>event</mat-icon>
        <span class="label">Events</span>
      </a>
      <a mat-list-item routerLink="/app/attendants">
        <mat-icon>groups</mat-icon>
        <span class="label">Attendants</span>
      </a>
      <a mat-list-item routerLink="/app/activities">
        <mat-icon>history</mat-icon>
        <span class="label">Activities</span>
      </a>
      <ng-container *appIfAdmin>
        <a mat-list-item routerLink="/app/company-users">
          <mat-icon>admin_panel_settings</mat-icon>
          <span class="label">Company Users</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </aside>
  <mat-toolbar color="primary" class="topbar">
    <button mat-icon-button (click)="toggleSidenav()" aria-label="Toggle menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Revival</span>
    <span class="spacer"></span>
    <mat-form-field appearance="outline" style="min-width: 220px; margin-right: 12px;">
      <mat-label>Company</mat-label>
      <mat-select [value]="companyId()" (selectionChange)="setCompany($event.value)">
        <mat-option *ngFor="let c of myCompanies()" [value]="c.id">{{ c.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-button-toggle-group [value]="theme()" (change)="setTheme($event.value)">
      <mat-button-toggle value="theme-light">Light</mat-button-toggle>
      <mat-button-toggle value="theme-dark">Dark</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>
  <main class="content">
    <router-outlet />
  </main>
</div>


