<div class="layout" [class.collapsed]="collapsed()">
  <aside class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/app/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span class="label">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/app/organizations">
        <mat-icon>business</mat-icon>
        <span class="label">Organizations</span>
      </a>
      <a mat-list-item routerLink="/app/events">
        <mat-icon>event</mat-icon>
        <span class="label">Events</span>
      </a>
      <a mat-list-item routerLink="/app/attendants">
        <mat-icon>groups</mat-icon>
        <span class="label">Attendants</span>
      </a>
      <a mat-list-item routerLink="/app/payment-audits">
        <mat-icon>account_balance</mat-icon>
        <span class="label">Payment Audits</span>
      </a>
      <a mat-list-item routerLink="/app/activities">
        <mat-icon>history</mat-icon>
        <span class="label">Activities</span>
      </a>
      <ng-container *appIfAdmin>
        <a mat-list-item routerLink="/app/company-users">
          <mat-icon>admin_panel_settings</mat-icon>
          <span class="label">Company Users</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </aside>
  <mat-toolbar color="primary" class="topbar">
    <button mat-icon-button (click)="toggleSidenav()" aria-label="Toggle menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Revival</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/company">Manage Companies</a>
    
    <button mat-icon-button [matMenuTriggerFor]="themeMenu" [matTooltip]="'Theme: ' + getCurrentThemeText()">
      <mat-icon>{{ theme() === 'theme-dark' ? 'dark_mode' : 'light_mode' }}</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
      <button mat-menu-item (click)="setTheme('theme-light')" [class.selected]="theme() === 'theme-light'">
        <mat-icon>light_mode</mat-icon>
        <span>Light</span>
        @if (theme() === 'theme-light') {
          <mat-icon>check</mat-icon>
        }
      </button>
      <button mat-menu-item (click)="setTheme('theme-dark')" [class.selected]="theme() === 'theme-dark'">
        <mat-icon>dark_mode</mat-icon>
        <span>Dark</span>
        @if (theme() === 'theme-dark') {
          <mat-icon>check</mat-icon>
        }
      </button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
      <mat-icon>account_circle</mat-icon>
      <span class="user-name">{{ getUserDisplayName() }}</span>
      <mat-icon class="dropdown-icon">keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="goToPreferences()">
        <mat-icon>settings</mat-icon>
        <span>Preferences</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()" [disabled]="loggingOut()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <main class="content">
    <router-outlet />
  </main>

  <div class="loading-overlay" *ngIf="loading() > 0">
    <div class="spinner"></div>
  </div>
</div>



